/* Add this style to set the background image for the entire page */
body {
    background-image: url('./images/photo/6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

.cpcontent {
    width: 450px;
    height: 250px;
    border: 1px solid silver;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 300px;
}

.button {
    height: 30px;
    background: dodgerblue;
    color: white;
    cursor: pointer;
    border: none;
}

.button:hover {
    background: blue;
}
