/* home.css */
/* Styles for header */
.header {
  background-color: #333; /* Dark background color for the header */
  padding: 20px 0; /* Add vertical padding */
  text-align: center;
}

.header-title {
  margin-bottom: 10px; /* Add space below the title */
  color: #fff; /* White text color for the title */
  font-size: 32px; /* Increase font size */
}

.header-nav ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.header-nav li {
  display: inline-block; /* Display navigation links horizontally */
  margin-right: 20px; /* Add space between navigation links */
}

.header-nav li:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}

.header-nav a {
  color: #fff; /* White text color for navigation links */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size for navigation links */
  transition: color 0.3s; /* Add transition for smooth color change */
}

.header-nav a:hover {
  color: #ff6b6b; /* Change text color on hover */
}

/* Styles for movie posters */
.home-container main {
  padding: 20px; /* Add padding to main content */
}

.movie-posters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-poster {
  width: calc(20% - 20px); /* Adjust width to fit 5 posters per row */
  margin-bottom: 20px;
  text-align: center;
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.movie-poster img:hover {
  transform: scale(1.05); /* Zoom in the poster on hover */
}

@media screen and (max-width: 768px) {
  .movie-poster {
    width: calc(33.33% - 20px); /* Adjust width for smaller screens */
  }
}
